body {
    background-color: black;
}

div.secret {
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 1%;
    padding-right: 1%;
    font-size: 30px;
    background-color: white;
}